.borderRight {
  border-right: 1px solid #cbd3dc !important;
  &:last-child {
    border-right: none;
  }
}

.borderTop {
  border-top: 1px solid #cbd3dc;
}

.cellHover {
  background-color: #eceff6;
}
